<div class="aboutus-section">
  <div class="container">
    <div class="row">
      <div class="col-md-2"></div>
      <div class="col-md-4">
        <div class="aboutus">
          <h2 class="aboutus-title">About Us</h2>
          <p class="aboutus-text">
            This is a user friendly blood bank system web application. If you
            use this application then first you must register as donor or user.
            After sign up the application then only you can use our system.
          </p>
          <p class="aboutus-text">
            There are many facilities in our system. If you are an user then you
            can view donor details and search donors and also you can register
            blood requests. If you are donor then you can check blood camps
            details.
          </p>

          <a class="btn btn-outline-dark" routerLink="/contact">Contact Us</a>
        </div>
      </div>
      <div class="col-md-3 ">
        <div>
          <img
            src="https://dailytimes.com.pk/assets/uploads/2018/09/09/Blood.jpg"
            alt=""
            style="height: 8cm;width:8cm"
          />
        </div>
      </div>
    </div>
  </div>
</div>
