<div class="list-group ">
  <a
    routerLink="/admin"
    class="list-group-item list-group-item-action list-group-item-light active"
    >Admin</a
  >
  <a routerLink="/admin-profile" class="list-group-item list-group-item-action"
    >Profile</a
  >
  <a routerLink="/blood-bank" class="list-group-item list-group-item-action"
    >Add Blood Bank</a
  >
  <a routerLink="/blood-camp" class="list-group-item list-group-item-action"
    >Add Blood Camp</a
  >
  <a
    routerLink="/blood-transaction"
    class="list-group-item list-group-item-action"
    >Blood Requests List</a
  >
  <a routerLink="/blood-approval" class="list-group-item list-group-item-action"
    >Blood Request Approval</a
  >
  <a
    routerLink="/ampulance-detail"
    class="list-group-item list-group-item-action"
    >Ampulance</a
  >
</div>
