<div class="container">
  <div class="row">
    <div class="col-md-3"><app-admin-sidebar></app-admin-sidebar></div>
    <div class="col-md-9">
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <div class="card-body">
              <h5 class="card-title">Welcome to Admin</h5>
              <p class="card-text">
                You are related to register blood banks, setup the blood camps
                and approve user's blood requests.
              </p>
              <a routerLink="/admin-profile" class="btn btn-info"
                >Your Profile</a
              >
            </div>
          </div>

          <div class="col-md-6">
            <img
              src="https://cdn.pixabay.com/photo/2016/10/14/15/45/icon-1740415_960_720.png"
              class="card-img-top"
              style="height: 10cm"
            />
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
