<div class="container">
  <div class="row">
    <div class="col-md-3"><app-user-sidebar></app-user-sidebar></div>
    <div class="col-md-9">
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <div class="card-body">
              <h5 class="card-title">Welcome to User</h5>
              <p class="card-text">
                Thank you for register as user. Welcome to our Blood Bank
                System. You are related to search donors and register to get
                blood.
              </p>
              <a routerLink="/user-profile" class="btn btn-info"
                >Your Profile</a
              >
            </div>
          </div>

          <div class="col-md-6">
            <img
              src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRrshoxBuWNIIfTytLV-_SBOp9heVdjhrjQeioWX5wT8RY9Xe5Y"
              class="card-img-top"
              style="height: 10cm"
            />
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
