<div class="container">
  <div class="row">
    <div class="col-md-3"><app-admin-sidebar></app-admin-sidebar></div>
    <div class="col-md-9">
      <div class="container">
        <nav class="navbar navbar-expand-lg navbar-light bg-light ">
          <ul class="navbar-nav">
            <li class="nav-item ">
              <a class="nav-link" routerLink="/ampulance-detail"
                ><h5>Add Ampulance</h5>
              </a>
            </li>
            <li class="nav-item ">
              <a class="nav-link" routerLink="/ampulance-list"
                ><h5>Ampulance List</h5>
              </a>
            </li>
            <li class="nav-item ">
              <a class="nav-link" routerLink="/ampulance-request"
                ><h5>Ampulance Request</h5>
              </a>
            </li>
            <li class="nav-item active">
              <a class="nav-link" routerLink="/ampulance-request-list"
                ><h5>Ampulance Request List</h5>
              </a>
            </li>
          </ul>
        </nav>
      </div>
      <br />
      <div class="table-responsive">
        <div>
          <input
            class="form-control"
            type="text"
            name="search"
            [(ngModel)]="searchText"
            placeholder="Search...."
          />
        </div>

        <table class="table table-hover">
          <thead>
            <tr>
              <th>#</th>
              <th>Ampulance</th>
              <th>Patient</th>
              <th>Address</th>
              <th>Date</th>
              <th>Charge($)</th>
              <th>Request Time</th>
              <th>Dispatch Time</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let request of ampulanceRequests | filter: searchText">
              <td></td>
              <td>{{ request.ampulance }}</td>
              <td>{{ request.patient }}</td>
              <td>{{ request.address }}</td>
              <td>{{ request.date }}</td>
              <td>{{ request.charge }}</td>
              <td>{{ request.rtime }}</td>
              <td>{{ request.dtime }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
